[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pyenv-virtualenv"]
	path = pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv
[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/tmux/tmux.git
[submodule "bat-extras"]
	path = bat-extras
	url = https://github.com/eth-p/bat-extras.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "source-code-pro"]
	path = source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
