[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
        ignore = dirty
[submodule "pyenv-virtualenv"]
	path = pyenv-virtualenv
	url = https://github.com/pyenv/pyenv-virtualenv
[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/tmux/tmux.git
[submodule "bat-extras"]
	path = bat-extras
	url = https://github.com/eth-p/bat-extras.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "source-code-pro"]
	path = source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "colorgcc"]
	path = colorgcc
	url = https://github.com/colorgcc/colorgcc
[submodule "yazi"]
	path = yazi
	url = https://github.com/sxyazi/yazi.git
[submodule "1password"]
	path = 1password
	url = https://github.com/1Password/shell-plugins.git
[submodule "tools/tools/cli"]
	path = tools/tools/cli
	url = https://gitlab.com/gitlab-org/cli.git
